<div fxLayout="column">
	<form>
		<md-input-container>
			<input [disabled]="loading" mdInput placeholder="Название фильма" name="filmName" [(ngModel)]="filmName" (keyup.enter)="getFilms()">
		</md-input-container>
	</form>

	<md-spinner *ngIf="loading"></md-spinner>

	<div class="film-list" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between stretch" fxLayoutWrap>
		<md-card class="film-card" fxFlex="49" *ngFor="let film of filmList">
			<a [routerLink]="['/films', film.imdbID]">
				<img *ngIf="film.Poster != 'N/A'" md-card-image src="{{film.Poster}}">
			</a>
			<md-card-content>
				<md-card-title>{{film.Title}}</md-card-title>
				<p>Год: {{film.Year}}</p>
				<p>Luke Skywalker joins forces with a Jedi Knight, a cocky pilot, a wookiee and two droids to save the galaxy from the Empire's world-destroying battle-station.</p>
			</md-card-content>
			<md-card-actions>
				<button color="primary" [routerLink]="['/films', film.imdbID]" md-button>Подробнее</button>
			</md-card-actions>	
		</md-card>
	</div>
</div>