/* You can add global styles to this file, and also import other style files */
html {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, sans-serif;
    height:100%;
    display: flex;
}
.loading {
    height: 100px;
    width: 130px;
}
.mat-toolbar-row {
    justify-content: space-between;
}